* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
  box-shadow: 6px 8px 20px 0px rgba(34, 60, 80, 0.12);
}

.black {
  background: #4c1a0d;
  /* background: #6a3024; */
}

.white {
  /* background: #c99547; */
  background: #ba8050;
}

.border {
  background: #2b1711;
  /* background-color: #57010c; */
}


.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #1a9e1a;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 50px;
  /* background-color: lightgray; */
  background-color: #57010c;
}