* {
  margin: 0;
  padding: 0;
}

#root,
html {
  background-color: #f0c7a9;
  background: cover;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  align-items: center;
  margin-left: 32%;
  /* margin: 0 auto; */
  border: 9px solid #250b05;
  border-radius: 3px;
  box-shadow: 1px 1px 20px -2px rgba(51, 29, 15, 0.25);
  z-index: 3;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background: #4c1a0d;
}

.white {
  background: #ba8050;
}

.selected {
  background-color: brown;
}

.available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #f3ac14;
}

.lost {
  height: 26vh;
  padding: 30px;
  color: #57010c;
  position: relative;
  margin-left: 68%;
  margin-right: 10%;
  background-color: #c27961;
  text-align: center;
  z-index: 2;
}